
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    overflow-x: hidden;
}
#first-section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../images/home-image.jpg");
    background-size: cover;
    background-position: center;
}
#third-section{
    width: 100%;
    height: 100vh;
    background: url("../images/home-image.jpg");
    background-size: cover;
    background-position: center bottom;
}

header {
    position: fixed;
    display: flex;
    padding: 25px 8%;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    background-color: rgb(0 0 0 / 30%);
    backdrop-filter: blur(15px);
}
/* .header2, .header3 {
    position: fixed;
    display: flex;
    padding: 25px 8%;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
} */

.navbar{
    display: flex;
    align-items: center;
}
.navbar2{
    display: flex;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    margin-right: 10%;
    font-size: 1.3em;
    color: #D8E4D7;
}
.navbar2 a{
    text-decoration: none;
    padding-right: 15%;
    font-size: 1.3em;
    color: #053311;
}

#logo {
    color: white;
    font-size: 2.5em;
    text-decoration: none;
}
#logo2 {
    color: #053311;
    font-size: 2.5em;
    text-decoration: none;
}

.title{
    width: 100%;
    color: white;
    margin: 8%;
}
.title h1{
    font-size: 3em;
    padding-bottom: 2%;
}
.title p{
    width: 35%;
    font-size: 1.3em;
}
.title input{
    border: none;
    margin-top: 5%;
    padding: 1% 2%;
    font-size: 1.6em;
    background-color: #D8E4D7;
    color: #3B4338;
}

#second-section{
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.testimonials h2{
    text-align: center;
    font-size: 3em;
}

.container{
    display: grid;
    margin: 7% 10% 0% 10%;
    /* grid-template-columns: repeat(16, 4em); */
    grid-template-rows: repeat(16, 2em);
    gap: 10px 20px;
}

.item1 ,.item2,.item3,.item4{
    padding: 2%;
}

.item1{
    grid-row: 2/14;
    grid-column: 1/5;
    background-color: #D8E4D7;
    border-radius: 10%;
}
.item2{
    grid-row: 1/8;
    grid-column: 5/10;
    background-color: #D8E4D7;
    border-radius: 10%;
}
.item3{
    grid-row: 8/15;
    grid-column: 5/10;
    background-color: #D8E4D7;
    border-radius: 10%;
}
.item4{
    grid-row: 2/14;
    grid-column:  10/14;
    background-color: #D8E4D7;
    border-radius: 10%;
}

.container img{
    width: 27%;
    height: 17%;
    border-radius: 70%;

}
.container .item2 img,.item3 img{
    width: 23%;
    height: 27%;
    border-radius: 70%;

}

.stars img{
    width: 15%;
}
.item2-stars .stars2 img ,.stars2 img{
    width: 15%;
}
/* .item2-stars .stars2 img{
    width: 15%;
    margin-left: 7%;
} */
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    font-size: 120%;
}
.top2{
    flex-direction: row;
}
.top img{
    margin: 1%;
}

.comment p{
    text-align: center;
    margin: 10%;
}


.faq{
    /* margin: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.faq h2{
    margin: 5%;
}
.question{
    text-align: left;
    margin: 1%;
    padding: 0.8% 35%;
}

.reponse{
    display: none;
}
.reponse p{
    margin: 0.8% 35%;
}

footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.infos{
    margin: 4% 5%;
    display: flex;
    flex-direction: column;
    color: #053311;
}

.links{
    display: flex;
    flex-direction: column;
    margin: 3.5% 10%;
}
.links h3{
    color: #053311;
}
.links a{
    text-decoration: none;
    margin: 5% 10%;
    color: #0A6522;
}

.right-div{
    float: right;
    margin: 3.5% 6.5%;
}
.right-div button{
    cursor: pointer;
    font-size: 80%;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #D8E4D7;
    color:#053311;
}

.social-media{
    display: flex;
    margin-top: 10px;
    justify-content:space-evenly;
}

.contact{
    display: flex;
    margin: 1% 0%;
    align-items: center;
}
.contact p{
    margin-left: 5%;
}
.contact svg{
    display: flex;
    font-size: 120%;
}

.copyright{
    text-align: center;
}


#catalogue{
    background-color: #f6f6f6;
}

.categorie button{
    text-decoration: none;
    cursor: pointer;
    margin-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #D8E4D7;
    color:#053311;
}


.buttons{
    display: flex;
    justify-content: center;
}

.catalogue-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}
.card{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    /* background-color: #0A6522; */
}
.card img{
    width: 219px;
    height: 328px;
    border-radius: 20%;
}
.card p{
    margin-top: 5%;
    margin-bottom: 10%;
}
.stars span{
    color: green;
    font-size: 26px;
}


/* ..................inscription................. */


#inscription{
    padding-top: 12%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;
}

.insc-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.insc-content h2{
    font-size: 2.2rem;
    margin-bottom: 8%;
}
.insc-content p{
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.input-design{
    display: flex;
    align-items: center;
    width: 6
    5vw;
    height: 92vh;
    background-color: #E9E9E9;
    border-radius: 141px;
}
.input-design img{
    width: 28vw;
    height: 92vh;
    border-radius: 141px;
    opacity: 0.7;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-design input[type="text"],input[type="password"]{
    margin-bottom: 4%;
    margin-left: -9%;
    padding-left: 5%;
    border: none;
    z-index: 88;
    font-size: 1.2rem;
    width: 35vw;
    height: 6vh;
    background-color: #DBE0EB;
    outline: none;
    color: #5a5a5c;
}



.input-design input[type="submit"]{
    background-color: #70716E;
    width: 14vw;
    height: 6vh;
    border: none;
    color: white;
    font-size: 1.4rem;
    margin-top: 15%;
    cursor: pointer;
}

.input-design input.valid{
    border-color: #0A6522;
}
.input-design input.invalid{
    border-color: red;
}

